@import url('https://fonts.googleapis.com/css2?family=Karla:wght@200;400;700&display=swap');
* {
  box-sizing: border-box;
}
body {
  width: 95%;
  margin: 0 auto;
  background-color: #f7f7f7;
  font-family: 'Karla', sans-serif;
}
/* .navigation {
  display: flex;
} */
.navigation__title {
  flex-grow: 1;
  letter-spacing: 0.1em;
  font-size: 2.25em;
}
.search {
  display: flex;
}
.search__filter,
.search__sort {
  display: flex;
  flex-direction: column;
  font-weight: 700;
  padding: 20px 0;
}
.search__label {
  font-size: 0.75em;
  text-transform: uppercase;
  color: #666666;
}
.search__select {
  width: 100px;
  border: none;
  background-color: #f7f7f7;
  font-weight: 700;
  margin-top: 10px;
}
.search__sort {
  margin-left: 40px;
}
.products {
  display: flex;
  flex-wrap: wrap;
}
.product {
  display: flex;
  flex-direction: column;
  flex-grow: 0;
  flex-basis: 20%;
  background-color: white;
  border: 1px solid #f7f7f7;
}
.product__image img {
  width: 100%;
  padding: 20px;
  margin-top: 40px;
}
.product__info {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.product__name {
  font-weight: 700;
  margin-bottom: 5px;
}
.product__price {
  margin: 0 0 20px 0;
  color: #666666;
}

.navigation {
  display: flex;
}
@media (max-width:1200px){
  body{
    width: 95%;
  }

}
@media (max-width:900px){
  .product{
   flex: 0 25%;
  }

}
@media (max-width:600px){
  .product{
    flex: 0 50%;
  }

}
@media  (max-width: 480px) {
  .navigation {
    flex-direction: column;
  }
}
