* {
  box-sizing: border-box;
}
h1 {
  text-align: center;
}
.article {
  margin: 8px;
  padding: 16px;
  background-color: bisque;
  flex-basis: 300px;
  flex-grow: 1;
}
.articles-list {
  display: flex;
  flex-wrap: wrap;
}
